/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background: #0e6fb5;
    color: white;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

.btn-back {
    background: white;
    border: none;
    font-size: 20px;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
}

.header-title {
    font-size: 26px;
    font-weight: 800;
}

/* GRID */
.contenedor {
    padding: 25px;
}

.grid-demo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.titulo-ejercicio {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 800;
}

/* VIDEO */
.img-demo, video {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* INSTRUCCIONES */
.columna h2 {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

/* BOTÓN INICIAR */
.btn-iniciar {
    margin-top: 25px;
    padding: 12px 20px;
    border: none;
    background: #128ff0;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

/* PANEL Y BOTÓN DE COMANDOS */
.voice-btn {
    position: fixed;
    right: 20px;
    bottom: 25px;
    background: #128ff0;
    color: white;
    padding: 12px 18px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    z-index: 5000;
}

.voice-panel {
    position: fixed;
    right: 20px;
    bottom: 85px;
    width: 260px;
    background: rgba(255,255,255,0.95);
    padding: 16px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.6);
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
    z-index: 5000;
}

.voice-panel.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.voice-panel li {
    background: #eaf3ff;
    padding: 7px;
    margin-bottom: 6px;
    border-left: 4px solid #0e6fb5;
    border-radius: 6px;
}
