.header {
    width: 100%;
    background: var(--azul);
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.header h1 {
    margin: 0;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 2px;
}
