body {
    font-family: Poppins, sans-serif;
    background: #eef3ff;
    margin: 0;
    padding: 0;
}

/* NAV */
.navbar {
    background: #0e6fb5;
    padding: 16px;
    display: flex;
    align-items: center;
    color: white;
}

.back-btn {
    font-size: 22px;
    background: white;
    border: none;
    padding: 5px 12px;
    border-radius: 8px;
    margin-right: 15px;
    cursor: pointer;
}

.profile-container {
    max-width: 420px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

#perfil-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
    transition: .3s;
}

#perfil-img:hover {
    transform: scale(1.05);
}

.profile-data p {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

#inputFoto {
    display: none;
}

.btnPerfil {
    margin-top: 20px;
    padding: 12px 20px;
    background: #0e6fb5;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.btnPerfil:hover {
    background: #094f82;
}
